@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.title {
    position: absolute;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 500px;
    text-align: right;
    color: white;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}
.icons {
    height: 50px;
    width: auto;
}

.icons:hover {
    animation: rotate-icons 1s infinite;
}

@keyframes rotate-icons {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.chapter-list {
    position: absolute;
    margin-top: 200px;
    margin-left: 550px;
    font-size: 20px;
    text-align: right;
}

.chapter-list ul {
    list-style: none;
    margin: 30px;
}

.chapter-list li {
    margin: 20px;
}

.chapter-list li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
}