@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Photos/bg.jpg);
    background-size: cover;
    height: 100vh;
    font-family: 'Muli', sans-serif;
}

.Timeless-icon {
    height: 100px;
    width: auto;
    margin: 15px 15px 15px 15px;
    float: left;
}

.icons {
    height: 50px;
    width: auto;
}

.icons:hover{
    animation: rotate-icons 1s infinite;
}
@keyframes rotate-icons{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
.nav {
    float: right;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 15px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 3px;
}

.content a {
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Muli', sans-serif;
    border: 1px solid white;
    border-radius: 200px;
    padding: 10px 20px;
    transition: 0.6s;
}

.content a:hover {
    background: #8e44ad;
    border: 1px solid #8e44ad;
}
h1{
    animation: fade-in-out 4s ease-in;
}

@keyframes fade-in-out{
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.btnOfNotes{
    animation: translateBtn 2s ease-in;
}

@keyframes translateBtn {
    0%{
        transform: translateY(400px);
    }
    100%{
        transform: translateY(0px);
    }
}